$purple: #1A1449;
$white: #ffffff;

// Define color here
$var__colors: (
    primary: $purple,
    secondary: #CDB288,
    dark: #0d0d0d,
    light: $white,
    light-1: #FBFBFB,
    light-2: #EAEAEA,
    danger: #ea5b4d,

    // Text Color
    text-primary: $purple,
    text-secondary: mix($purple, transparent, 70),
    text-disabled: mix($purple, transparent, 40),

    // Text Color Alternate
    text-primary-alt: $white
);


/** Function for using the color from `$var__colors`
 *
 * `$key2` & `$opacity` can be used for mixing 2 different colors
 * ex: color(#fff, 50, #000);
 */
 @function color($key, $opacity: 100, $key2: transparent) {
    // If `$key` is not a color code, then get map in `$var__colors`
    @if type-of($key) != color {
        // Get the colors
        @if map-has-key($var__colors, $key) {
        $key: map-get($var__colors, $key);
        }
        // If colors undefined then throw an error
        @else {
        @error "Error : could not find value `#{$key}` from `$var__colors`. Please make sure it is defined in `$var__colors` map.";
        @return false;
        }
    }
  
    // If `$key2` defined and not a color code, then get map in `$var__colors`
    @if $key2 != transparent and type-of($key2) != color {
      @if map-has-key($var__colors, $key2) {
        $key2: map-get($var__colors, $key2);
      }
  
      @else {
        @error "Error : could not find value `#{$key2}` from `$var__colors`. Please make sure it is defined in `$var__colors` map.";
        @return false;
      }
    }
    
    @return mix($key, $key2, $opacity);
  }