// Import all fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');

// Define heading font
%var__font-heading {
    font-family: TimesNewRoman, "Times New Roman", serif;
}

// Define content font
%var__font-content {
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.02em;
    font-weight: 500;
}