$navbar-top-height: 34px;
$navbar-bottom-height: 70px;
$navbar-height: $navbar-top-height + $navbar-bottom-height;

$box-shadow-1: 0 6px 10px 0 color(dark, 4);
$box-shadow-2: 0 8px 10px 0 color(dark, 6);
$box-shadow-3: 0 8px 10px 0 color(dark, 10);