$transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
$transition-2: .3s cubic-bezier(0.4, 0, 0.2, 1);
$transition-3: 275ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-4: 200ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-5: 150ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-button: 225ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-slider: .3s cubic-bezier(0.4, 0, 0.2, 1);