#the-content, .theme-wp-content {
    // Define Margin
    $this-margin: 2.4rem;
    @media screen and (min-width: 1400px) {
        max-width: 800px;
    }
    
    // Clearfix its self from unwanted float items
    &::after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: "";
        clear: both;
        height: 0;
    }


    // All Image Support
    img, p > img, p > a > img, figure, figure > img {
        max-width: 100%;
        height: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    // Centered Image
    img.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    // Right Image
    img.alignright {
        float: right;
        margin: 0 0 $this-margin $this-margin;
    }

    // Left Image
    img.alignleft {
        float: left;
        margin: 0 $this-margin $this-margin 0;
    }

    // Image wrapper (Gutenberg)
    .wp-block-image { margin: $this-margin 0; }

    // Gallery (Gutenberg)
    .wp-block-gallery {
        padding: 0;

        figure, img {
            height: 100%;
        }
    }

    // Default Gallery
    .gallery-native {
        margin-top: 20px;
        margin-bottom: 20px;
    }


    // All listing Support
    ul:not(.wp-block-gallery), ol {
        padding-left: 40px;

        li {
            margin-top: 10px;
        }
    }

    ul:not(.wp-block-gallery) li {
        position: relative;
        list-style: none;

        // The Circle
        &::before {
            content: "";
            position: absolute;
            height: 4px;
            width: 4px;
            top: 8px;
            display: block;
            left: -30px;
            border-radius: 50%;
            background: color(text-primary);
        }
    }

    ol {
        counter-reset: ol-list-counter;

        li {
            position: relative;
            list-style: none;

            &::before {
                content: counter(ol-list-counter) ".";
                counter-increment: ol-list-counter;
                position: absolute;
                top: 0px;
                display: block;
                left: -30px;
                font-weight: 900;
                color: color(text-primary);
            }
        }
    }


    // Heading
    h1, h2, h3, h4, h5, h6 {
        margin: $this-margin 0;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0;
    }

    h2 { font-size: 2.2rem; }
    h3 { font-size: 1.8rem; }
    h4 { font-size: 1.5rem; }
    h5 { font-size: 1.2rem; }
    h6 { font-size: 1rem; }

    @include media-breakpoint-down(sm){
        h2 { font-size: 1.8rem; }
        h3 { font-size: 1.6rem; }
        h4 { font-size: 1.4rem; }
    }

    p { margin: $this-margin 0; }

    // Default Link
    a:not(.btn):not(.wp-block-button__link):not(.jssocials-share-link) {
        font-weight: bold;
        text-decoration: underline;
        color: inherit;

        &:hover,&:focus {
            color: color(text-secondary);
        }
    }

    // Button Wrapper (Gutenberg)
    .wp-block-button {
        margin: $this-margin 0;
        color: inherit;
    }
    
    // Button (Gutenberg)
    .wp-block-button__link {
        @extend .btn;
    }
    

    // Blockquote
    blockquote {
        padding: $this-margin;
        margin: $this-margin 0;
        border-left: 4px solid color(primary);
        background: color(dark, 8);

        & > *:nth-child(1){
            margin-top: 0px!important;
        }

        & > *:nth-last-child(1){
            margin-bottom: 0px!important;
        }
    }
    

    & > *:nth-child(1){
        margin-top: 0!important;
    }

    & > *:nth-last-child(1){
        margin-bottom: 0px;

        & > *:nth-last-child(1){
            margin-bottom: 0px;

            & > *:nth-last-child(1){
                margin-bottom: 0px;
            }
        }
    }
}