#footer {
    padding: $space-2 0;

    a:hover, a:focus {
        color: color(secondary);
    }

    .container .bottom {
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-down(xs){
            display: block;

            & > * {
                margin-top: 10px;
                
                &:nth-child(1){
                    margin-top: 0px;
                }
            }
        }
    }
}