#header {
    position: sticky;
    top: 0;
    display: block;
    z-index: 99;

    .navbar {
        padding: 6px 0px;
        transition: $transition-button;

        .container {
            padding: 0px 20px;
            @include media-breakpoint-down(lg){
                padding: 0px 20px;
            }
        }
        
        .navbar-brand {
            // 12px is from `.bottom` padding Y (6 x 2)
            height: $navbar-bottom-height - 12px;
            padding: 0;

            a {
                position: relative;
                height: 100%;
                @include align-middle();
    
                img {
                    height: calc(100% - 20px);
                    width: auto;
                }
            }
        }

        .navbar-toggler  {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: transparent;

            &:focus, &:hover {
                background: color(primary, 20);
            }

            .icon {
                color: color(dark);
            }
        }

        .right-nav {
            width: fit-content;
            flex-grow: 0;

            .navbar-nav {
                & > li {
                    margin-left: 10px;
                    @include media-breakpoint-down(md){
                        margin-left: 0px;
                    }
                }

                li a {
                    padding-top: 10px;
                    padding-bottom: 10px;

                    &:hover, &:focus {
                        color: color(primary);
                    }
                }

                li.active > a {
                    color: color(primary);
                }

                a.dropdown-toggle::after {
                    margin-left: 10px;
                }
            }
        }
    }

    &.with-shadow .bottom {
        box-shadow: $box-shadow-2;
    }
}

#wpadminbar {
    display: none;
}