#page-404 .section.header-404 {
    position: relative;
    min-height: 70vh;
    overflow: hidden;
    background: url('./src/img/404.jpg') no-repeat center / cover;
    @include align-middle();

    &::after {
        @extend %pseudo-overlay;
    }

    .container {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;

        .title {
            font-size: 28px;
            font-weight: 800;
        }
    }
}