.section.wp-the-content {
    padding: 80px 0;
}

.section.page-header {
    min-height: 400px;
    padding: 120px 0;
    display: flex;
    align-items: center;
    word-break: break-all;
    
    background-color: color(primary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:after {
        @extend %pseudo-overlay;
    }

    &.no-thumbnail:after {
        content: none;
        display: none;
    }

    .container {
        position: relative;
        z-index: 3;

        .content-set {
            color: color(text-primary-alt);
            @include centered-section();

            .title {
                font-size: 44px;
                line-height: 1.2;
                word-break: normal;
                @include media-breakpoint-down(md){
                    font-size: 32px;
                }
            }

            .content {
                margin-top: 0;
                color: inherit;
            }
        }
    }
}

.section.posts {
    padding: 80px 0;

    .row {
        margin: -15px;

        .col-12 {
            padding: 15px;
        }
    }
}

.post-item {
    $this-transition: $transition-button;

    .wrapper {
        position: relative;
    }

    .image {
        position: relative;
        height: 300px;
        width: 100%;
        background-position: center;
        background-size: cover;
        @include media-breakpoint-down(sm){
            position: relative;
            height: 200px;
            width: 100%;
        }

        &::after {
            @extend %pseudo-overlay;
            transition: $this-transition;
            opacity: 0;
            background: color(primary, 20);
        }

        &.no-thumbnail {
            justify-content: center;
            background: color(dark, 10);
            @include align-middle();

            .icon {
                transform: rotateY(180deg);
                font-size: 40px;
                color: color(text-primary-alt);
                @include media-breakpoint-down(sm){
                    margin: 0;
                }
            }
        }
    }

    .content-set {
        margin-top: 20px;

        .title {
            transition: $this-transition;
        }
    }

    &:hover, &:focus {

        .title {
            color: color(primary);
        }

        .image::after {
            opacity: 1;
        }
    }
}

.post-item-empty {
    min-height: 200px;
    text-align: center;
    opacity: .8;
    color: inherit;
    justify-content: center;
    @include align-middle();
}