.search-form {
    display: flex;
    @include media-breakpoint-down(xs){
        display: block;
    }

    .search-field {
        width: 100%;
        margin-right: 20px;
    }

    .btn {
        margin: 0;
        @include media-breakpoint-down(xs){
            margin-top: 20px;
        }
    }
}