.btn {
    display: block;
    width: fit-content;
    padding: 6px 20px;
    transition: $transition-button;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    box-shadow: none;
    color: color(text-primary-alt);
    background: color(primary);

    &:hover, &:focus {
        outline: none;
        box-shadow: none;
        color: color(text-primary-alt);
        background: color(primary, 70, dark);
    }

    &.secondary {
        padding: 0;
        text-transform: none;
        color: color(primary);
        background: transparent;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    &.circle {
        height: 40px;
        width: 40px;
        min-width: 0;
        padding: 0;
        justify-content: center;
        border-radius: 50%;
        border: 0px;
        color: color(light);
        background: color(primary);
        @include align-middle();

        .icon {
            font-size: 1.3rem;
        }

        &:hover, &:focus {
            background: color(primary, 50, dark);
        }
    }
}