    #the-content form, .theme-wp-content form {
        max-width: 100%;
        justify-content: center;
        
        p {
            margin: 0;
            padding: 0;
        }

        // Add space between column
        .row {
            margin: 0px -10px;

            & > * {
                margin: 0;
                margin-top: 20px;
                padding: 0px 10px;
            }

            // Normalize p from margin (above), sometimes in CF7 there is `p` tag output
            & > p {
                margin: 0;
            }

            .cf7-title {
                position: relative;
                width: 100%;
                margin-top: 30px;
                font-weight: bolder;
                font-size: 20px;
                color: color(dark);
            }

            & > *:nth-child(1){
                margin-top: 0px;
            }
        }

        // Error text
        .wpcf7-not-valid-tip {
            font-size: 12px;
            margin: 5px 0;
            padding: 0px;
            color: color(danger);
        }

        // Styled CF7 message box ( Error & Success box )
        div.wpcf7-validation-errors,
        div.wpcf7-acceptance-missing,
        .wpcf7-mail-sent-ng,
        .wpcf7-mail-sent-ok,
        div.wpcf7-response-output {
            position: relative;
            padding: 10px 20px;
            margin: 0;
            margin-top: 20px;
            text-align: center;
            border: 0;
            border-radius: 4px;
            color: color(light);
            background: color(danger);
        }

        .wpcf7-mail-sent-ok {
            background: color(primary);
        }
        
        .g-recaptcha {
            margin-top: 20px;
        }

        .alert.alert-danger {
            width: 100%;
            margin-bottom: 0;
            padding: 20px;
            border: 0;
            background: color(danger, 30);
        }
    }