
    .content-set {
        & > *:nth-child(1){
            margin-top: 0px!important;
        }

        .date {
            font-size: .85em;
            color: color(text-secondary);
        }

        .before-title {
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: 1px;
        }

        .title {
            position: relative;
            margin: 0;
            line-height: 1.2;
            font-size: 24px;
            font-weight: 900;
        }

        .subtitle {
            margin-top: 10px;
            font-size: inherit;
            font-weight: 600;
            text-transform: uppercase;
            color: color(text-secondary);
        }

        .content {
            margin-top: 20px;
            font-size: inherit;
            line-height: 1.8;
            
            a {
                text-decoration: underline;
                font-weight: bold;
            }

            &.posted-on {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                a {
                    text-decoration: none;
                    font-weight: normal;

                    &:hover, &:focus {
                        text-decoration: underline;
                    }
                }

                .icon {
                    margin-right: 8px;
                }

                .the-group-item {
                    margin-left: 16px;

                    &:nth-child(1){
                        margin-left: 0px;
                    }
                }
            }
        }
        
        .btn {
            margin-top: 20px;
        }

        &.centered {
            margin: auto;
            text-align: center;

            .subtitle {
                justify-content: center;
            }

            .btn {
                @include align-center();
            }
        }
    }