
        #the-content {
            form {
                max-width: 100%;
                justify-content: center;
                
                p {
                    margin: 0;
                    padding: 0;
                }

                // Add space between column
                .row {
                    margin: 0px -10px;

                    .col-12 { padding: 0px 10px; }
                }

                // All input field
                .input {
                    position: relative;
                    width: 100%;
                    margin-top: 20px;

                    label {
                        padding-left: 0px;
                        font-size: 16px;
                        font-weight: 600;
                    }

                    input[type="text"],
                    input[type="number"],
                    input[type="email"],
                    input[type="tel"],
                    input[type="date"],
                    select, textarea {
                        width: 100%;
                        height: 50px;
                        padding: 0 20px;
                        transition: $transition-3;
                        box-shadow: 0 0 0 2px transparent;
                        border: 1px solid color(secondary);
                        border-radius: 4px;

                        &::placeholder {
                            font-style: italic;
                            color: color(text-disabled);
                        }

                        &:hover, &:focus {
                            box-shadow: none;
                        }
                    }

                    textarea {
                        height: 150px;
                        resize: none;
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }

                    // Error text
                    .wpcf7-not-valid-tip {
                        font-size: 12px;
                        margin: 5px 0;
                        padding: 0px;
                        color: color(danger);
                    }
                }

                // This is for checkboxes wrapper
                .remove-br br {
                    display: none;
                }

                // This is for checkboxes support
                .wpcf7-form-control-wrap {
                    display: block;
                    margin-top: 10px;

                    .wpcf7-checkbox {
                        display: block;

                        .wpcf7-list-item {
                            display: flex;
                            margin: 0;

                            input[type="checkbox"] {
                                margin: 4px 10px 0 0;
                            }
                        }
                    }
                }

                // Remove 'margin-top' for first '.input'
                .col-md-6 .input:nth-child(1) {
                    margin-top: 0px;
                    @include media-breakpoint-down(sm){
                        margin-top: 30px;
                    }
                }

                .row .col-md-6:nth-child(1) .input:nth-child(1) {
                    @include media-breakpoint-down(sm){
                        margin-top: 0px;
                    }
                }

                // Styled CF7 message box
                div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {   
                    position: relative;
                    padding: 10px 20px;
                    margin: 0;
                    margin-top: 20px;
                    text-align: center;
                    border: 0;
                    border-radius: 4px;
                    color: color(text-primary-alt);
                    background: color(danger);
                }

                div.wpcf7-response-output {
                    margin-bottom: 0;
                }

                .btn {
                    padding: 10px 30px;
                    margin-top: 20px;
                }
                
                .g-recaptcha {
                    margin-top: 20px;
                }

                .alert.alert-danger {
                    width: 100%;
                    margin-bottom: 0;
                    border: 0;
                    background: color(danger, 30);
                }

                .form-item {
                    margin-top: 40px;

                    &.first {
                        margin-top: 0;
                        
                        & .col-md-6 .input:nth-child(1) {
                            margin-top: 20px;
                            @include media-breakpoint-down(sm){
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
        }