input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    transition: $transition-3;
    box-shadow: 0 0 0 2px transparent;
    border: 1px solid color(secondary);
    border-radius: 4px;

    &::placeholder {
        font-style: italic;
        color: color(text-disabled);
    }

    &:hover, &:focus {
        box-shadow: none;
    }
}

textarea {
    height: 150px;
    resize: none;
    padding-top: 20px;
    padding-bottom: 20px;
}