.gallery-native {
	margin: -5px;

	.column-img {
		padding: 5px;

		a {
			height: 100%;
			overflow: hidden;
			display: block;
			
			img {
				height: 300px!important;
				width: 100%;
				object-fit: cover;
				@media screen and (min-width: 1400px) {
					height: 400px;
				}
			}
		}
	} 
}