h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: inherit;
    @extend %var__font-heading;
}

h1 {
    font-size: 60px;
    @include media-breakpoint-down(sm){
        font-size: 40px;
    }
}

h2 {
    font-size: 64px;
    @include media-breakpoint-down(sm){
        font-size: 30px;
    }
}

h3 {
    font-size: 40px;
    @include media-breakpoint-down(sm){
        font-size: 24px;
    }
}

h4 {
    font-size: 30px;
    @include media-breakpoint-down(sm){
        font-size: 20px;
    }
}

h5 {
    font-size: 24px;
    @include media-breakpoint-down(sm){
        font-size: 18px;
    }
}

h6 {
    font-size: 16px;
}