.jssocials-share-link {
    @extend .btn.circle;
}

#the-content .js-social-wrapper {
    clear: both;
    margin-top: 60px;

    .title {
        margin: 0px;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }
}

/* Force to overwrite default color from `#the-content`
 * & default JsSocials style ( hover & focus, transition )
*/
#the-content .jssocials-shares {
    margin: 0px;

    .jssocials-share-link {
        font-size: .9rem;
        transition: $transition-button;
        color: color(text-primary-alt);

        &:hover, &:focus {
            transform: translateY(-4px);
            box-shadow: $box-shadow-3;
            background: color(primary);
        }
    }
}