// .the-box {
//     position: relative;
//     width: 500px;
//     max-width: 100%;
//     padding: 30px;
//     box-shadow: $box-shadow-1;
//     border-left: 20px solid $color__dark;
//     background: $color__light;
// }