.post-navigation {
    position: relative;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    color: color(text-primary-alt);
    background: color(dark);

    &.wide { display: none; }
    @media screen and (min-width: 500px) {
        &.mobile { display: none; }
        &.wide { display: block; }
    }

    .all-page-number {
        padding-top: 20px;
        justify-content: center;
        @include align-middle();

        &.no-pagination, &.post-pagination {
            padding: 0;
        }

        .info {
            margin-right: 10px;
        }

        .page-numbers, .post-page-numbers {
            position: relative;
            width: 33px;
            height: 33px;
            line-height: 33px;
            display: block;
            flex-shrink: 0;
            font-weight: 900;
            text-align: center;
            border-radius: 50px;
            color: color(primary);
            
            &.current {
                margin: 0 10px;
                font-weight: normal;
                color: color(text-primary-alt);
                background: color(dark);
            }

            &.dots,&.next,&.prev {
                &::before {content: none;}
            }

            &.next,&.prev {
                font-weight: normal;
            }
        }

        a.page-numbers, a.post-page-numbers {
            &:hover, &:focus {
                background: color(primary, 10);
            }
        }

        a.page-numbers.next,a.page-numbers.prev {
            min-width: 0px;
            margin-left: 10px;
            padding: 0.375rem 1rem;
            @extend .btn;
        }
        
        a.page-numbers.prev {
            margin-left: unset;
            margin-right: 10px;
        }
    }
}